# Doing sync this one for security reason.
.aws

# Mac related sync
Library

# I use .spacemacs
.emacs.d

# Remove docker from sync
.docker

# Remove gitconfig
.gitconfig

# Remove .fasd
.fasd

# Ignore Clojure hidden files
.direnv/
.clj-kondo/
.lsp/
