{:deps {aero/aero {:mvn/version "1.1.6"}}
 :min-bb-version "1.0.169"

 :tasks
 {q11 ;; https://config.qmk.fm/#/keychron/q11/ansi_encoder/LAYOUT_ansi_91
  {:task (shell "qmk flash keyboard/q11.json")}

  adjust-screen
  {:task (do (shell "xrandr" "--output" "DP-4" "--auto")
             (shell "sleep" "5")
             (shell "xrandr" "--output" "DP-5" "--auto" "--right-of" "DP-4"))}
  }
 }
